@import "variables";

.number {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: $blue;
}

.hide {
    display: none;
}

.cannot-select {
    opacity: 0.5;
}

.selected {
    border: 1px solid red;
}

.shut {
    background: red;
}
