/*----------------------Colors-------------------------*/
$lightGreen: #73FBD3;
$green: #3DDC97;
$blueGreen: #44E5E7;
$moreBlueGreen: #15B097;
$blue: #256EFF;
$lightBlue:#8AF3FF;
$purple: #46237A;
$lighterPurple: #613DC1;
$charcoal: #484349;
/*---------------------Fonts---------------------------*/
$titleFont: 'Bangers';
$secondaryFont: 'Candal';
/*------------------Media Queries---------------------*/
$break-medium: 720px;